body {
  font-family: 'Courier New';
}

.header {
  font-size: 32px;
  padding-top: 15px;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 15px;
  margin-bottom: 15px;

}

#tabs-panel {
  display: flex;
}

#tabs-panel > .tab {
  display: flex;
}

#devices, #ssids {
  display: none;
}

#main {
  margin-left: 35%;
  margin-right: 35%;
  padding-top: 5px;
}

.tab {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid;
  border-color: black;
}

.tab:first-of-type {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tab:last-of-type {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tab.active, .tab:hover {
  background: black;
  color: white;
  cursor: pointer;
}

#capture-box {
  text-align: left;
  margin-bottom: 40px;
}

#status {
  margin-top: 2px;
  margin-left: 2px;
  border-radius: 10px;
  padding-top: 5px;
  min-height: 40px;
  max-width: 125px;
  text-align: center;
  background-color: yellow;
  font-weight: 800;
}

#available-devices-data {
  white-space: pre-wrap;
  font-size: 12px;
  padding: 5px;
}

#device-data-container {
  background: black;
  color: white;
}

#device-data-container {
  border-width: 2px;
  border-color: black;
  max-width: 500px;
}

#capture-device-container {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

button {
  border-radius: 10px;
  background: #404040;
  padding: 14px 12px;
  border-color: white;
  color: white;
  font-weight: 800;
  font-size: 14px;
}
button:hover {
  cursor: pointer;
}

